@model List<Student>

@{
    //for(var i =0; i<Model.Count; i++)
    foreach(var item in Model)
    {
        <h1>
            First Name: @item.FirstName
        
        </h1>
        <h1>Last Name: @item.LastName</h1>
        <h2>Phone number: @item.Phone</h2>
        <h3>Email : @item.Email</h3>
    }
}
